<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="ltw_newspaper" id="ltw_newspaper">
			<module before="Magento_Backend" name="Ltw_Newspaper"/>
		</route>
	</router>
</config>
